body.html{
  margin:0px;
}

.kontener{
  width:99.9%;
}

.naglowek{
  width:100%;
  background-color:grey;
  border:1px solid black;
}

.naglowek h2{
  text-align:center;
  color:red;
}

.lewy{
  float:left;
  background-color:red;
}

.prawy{
  float:right;
  background-color:blue;
}

.lewy , .prawy{
  min-height:1000px;
  margin:1%;
  width:45%;
  padding:5px;
  border:1px solid black;
}

.stop{
  float:left;
  width:100%;
  background-color:#853;
  border:1px solid black;
}

@media only screen and (min-width:640px){
  
  .prawy{
    background-color:red;
    width:45%;
  }
  
  .lewy{
    background-color:blue;
    width:45%;
  }
}

@media only screen and (min-width:1280px){
  
  .prawy{
    background-color:gray;
    width:45%;
  }
  
  .lewy{
    background-color:orange;
    width:45%;
  }
}