.srodek{
    border: 1px solid black;
    border-radius:10px;
    text-align: center;
    font-size: 30px;
    padding:5px;
    width:100%;
  }

  .lewy {
    float:left;
  }

  .prawy {
    float:right;
  }
  
  .lewy , .prawy {
    color:#fff;
    padding-top:20%;
    background-color:#666;
    border: 1px solid black;
    border-radius:5px;
    padding:5px;
    width:45%;
  }

  .lewy input , .prawy input {
    margin:1%;
    width:95%;
  }
  
  .guzik {
    background-color:#777;
    width:100%;
  }
  
  .guzik , .lewy input , .prawy input {
    padding:5px;
    border:2px solid black;
    color:#111;
  }
  
  .plec{
    margin:2.6%;
    padding:5px;
    width:92.5%;
  }
  
  .wyslij{
    text-align: center;
    padding-left:40%;
    padding-right:40%;
    padding-top:18%;
  }
  
  .lewy input:hover , .prawy input:hover, .lewy input:active , .prawy input:active , .plec:hover , plec:active{
      border-radius:10px;
      background-color:#b5b5b5;
      color:#fff;
  } 